---
---

@import "{{ site.theme }}";

ul.contact-list {
    display: none;
}

div.footer-col-wrapper {
    display: flex;
    flex-wrap: wrap;

    .footer-col-1 {
        display: none;
    }

    .footer-col-2 {
        flex: 1;
        flex-basis: 170px;
    }

    .footer-col-3 {
        flex: 1;
        flex-basis: 370px;
    }
}

iframe.yt {
    max-width: 560px;
    width: 100%;
    height: 315px;
    display: block;
    margin: 0 auto;
    padding: 40px;
}